{% extends 'base.html' %}{% load static %}
{% block page-content %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>

    <div id="container" style="width:100%; height:600px;"></div>

    <script>
        security_symbol = 'WLD.MI';
        var seriesOptions = [],
            days = ['20', '100'];

        function createChart() {
            Highcharts.stockChart('container', {

                legend: {
                    enabled: true
                },

                rangeSelector: {
                    selected: 4
                },

                yAxis: {
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 2,
                        color: 'silver'
                    }]
                },

                plotOptions: {
                    series: {
                        showInNavigator: true
                    }
                },

                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                    valueDecimals: 2,
                    split: true
                },

                series: seriesOptions
            });
        }


        $.when(
            $.ajax('/api/security_daily_data/?security__symbol=' + security_symbol + '&serializer=lite'),
            $.ajax('/api/security_daily_moving_averages/?serializer=lite&period__days=20&period__security__symbol=' + security_symbol),
            $.ajax('/api/security_daily_moving_averages/?serializer=lite&period__days=100&period__security__symbol=' + security_symbol),
            $.ajax('/api/security_daily_machine_learning_predictions/?serializer=lite&period__days=7&period__security__symbol=' + security_symbol)
        ).done(function (a1, a2, a3, a4) {
            seriesOptions[0] = {
                name: security_symbol,
                data: a1[0],
                color: 'DarkBlue',
            };
            seriesOptions[1] = {
                name: security_symbol + ' 20d',
                data: a2[0],
                color: 'DeepSkyBlue',

            };
            seriesOptions[2] = {
                name: security_symbol + ' 100d',
                data: a3[0],
                color: 'DarkTurquoise',

            };
            seriesOptions[3] = {
                name: security_symbol + ' pred. 7d',
                data: a4[0],
                color: 'DarkOrange ',

            };
            createChart();
        });
    </script>

{% endblock page-content %}



